#modal-root {
  position: relative;
  z-index: 999;
}

html {
  overflow-x: hidden;
}

.container {
  z-index: 2;
  position: relative;
}

Input.placeholdercss::placeholder {
  color: rgb(128, 128, 128, 0.5);
}
